@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: "Roboto", sans-serif;
  --font-mono: "Fira Code", monospace;
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --radius-2xl: calc(var(--radius) + 8px);
  --radius-3xl: calc(var(--radius) + 12px);
  --radius-4xl: calc(var(--radius) + 16px);
  --font-serif: "Georgia", serif;
  --radius: 0.5rem;
  --tracking-tighter: calc(var(--tracking-normal) - 0.05em);
  --tracking-tight: calc(var(--tracking-normal) - 0.025em);
  --tracking-wide: calc(var(--tracking-normal) + 0.025em);
  --tracking-wider: calc(var(--tracking-normal) + 0.05em);
  --tracking-widest: calc(var(--tracking-normal) + 0.1em);
  --tracking-normal: var(--tracking-normal);
  --shadow-2xl: var(--shadow-2xl);
  --shadow-xl: var(--shadow-xl);
  --shadow-lg: var(--shadow-lg);
  --shadow-md: var(--shadow-md);
  --shadow: var(--shadow);
  --shadow-sm: var(--shadow-sm);
  --shadow-xs: var(--shadow-xs);
  --shadow-2xs: var(--shadow-2xs);
  --spacing: var(--spacing);
  --letter-spacing: var(--letter-spacing);
  --shadow-offset-y: var(--shadow-offset-y);
  --shadow-offset-x: var(--shadow-offset-x);
  --shadow-spread: var(--shadow-spread);
  --shadow-blur: var(--shadow-blur);
  --shadow-opacity: var(--shadow-opacity);
  --color-shadow-color: var(--shadow-color);
  --color-destructive-foreground: var(--destructive-foreground);
}

:root {
  --radius: 0.5rem;
  --background: oklch(0.8945 0.0184 78.2341);
  --foreground: oklch(0.2579 0.0153 62.6759);
  --card: oklch(1.0000 0 0);
  --card-foreground: oklch(0.2178 0 0);
  --popover: oklch(1.0000 0 0);
  --popover-foreground: oklch(0.2178 0 0);
  --primary: oklch(0.3873 0.0480 52.0954);
  --primary-foreground: oklch(0.9612 0 0);
  --secondary: oklch(0.7137 0.0192 261.3246);
  --secondary-foreground: oklch(0.2178 0 0);
  --muted: oklch(0.9612 0 0);
  --muted-foreground: oklch(0.5510 0.0234 264.3637);
  --accent: oklch(0.8328 0 0);
  --accent-foreground: oklch(0.2178 0 0);
  --destructive: oklch(0.6368 0.2078 25.3313);
  --border: oklch(0.8328 0 0);
  --input: oklch(0.8945 0.0184 78.2341);
  --ring: oklch(0.3873 0.0480 52.0954);
  --chart-1: oklch(0.3873 0.0480 52.0954);
  --chart-2: oklch(0.5150 0.0450 164.8770);
  --chart-3: oklch(0.7137 0.0192 261.3246);
  --chart-4: oklch(0.5194 0.0455 54.1995);
  --chart-5: oklch(0.8717 0.0093 258.3382);
  --sidebar: oklch(0.3873 0.0480 52.0954);
  --sidebar-foreground: oklch(0.9612 0 0);
  --sidebar-primary: oklch(0.8328 0 0);
  --sidebar-primary-foreground: oklch(0.2579 0.0153 62.6759);
  --sidebar-accent: oklch(0.5150 0.0450 164.8770);
  --sidebar-accent-foreground: oklch(0.9612 0 0);
  --sidebar-border: oklch(0.5194 0.0455 54.1995);
  --sidebar-ring: oklch(0.9612 0 0);
  --destructive-foreground: oklch(1.0000 0 0);
  --font-sans: "Roboto", sans-serif;
  --font-serif: "Georgia", serif;
  --font-mono: "Fira Code", monospace;
  --shadow-color: #7E6250;
  --shadow-opacity: 0.15;
  --shadow-blur: 0.3rem;
  --shadow-spread: 0.05rem;
  --shadow-offset-x: 0rem;
  --shadow-offset-y: 0.1rem;
  --letter-spacing: 0.015em;
  --spacing: 0.25rem;
  --shadow-2xs: 0rem 0.1rem 0.3rem 0.05rem hsl(23.4783 22.3301% 40.3922% / 0.07);
  --shadow-xs: 0rem 0.1rem 0.3rem 0.05rem hsl(23.4783 22.3301% 40.3922% / 0.07);
  --shadow-sm: 0rem 0.1rem 0.3rem 0.05rem hsl(23.4783 22.3301% 40.3922% / 0.15), 0rem 1px 2px -0.95px hsl(23.4783 22.3301% 40.3922% / 0.15);
  --shadow: 0rem 0.1rem 0.3rem 0.05rem hsl(23.4783 22.3301% 40.3922% / 0.15), 0rem 1px 2px -0.95px hsl(23.4783 22.3301% 40.3922% / 0.15);
  --shadow-md: 0rem 0.1rem 0.3rem 0.05rem hsl(23.4783 22.3301% 40.3922% / 0.15), 0rem 2px 4px -0.95px hsl(23.4783 22.3301% 40.3922% / 0.15);
  --shadow-lg: 0rem 0.1rem 0.3rem 0.05rem hsl(23.4783 22.3301% 40.3922% / 0.15), 0rem 4px 6px -0.95px hsl(23.4783 22.3301% 40.3922% / 0.15);
  --shadow-xl: 0rem 0.1rem 0.3rem 0.05rem hsl(23.4783 22.3301% 40.3922% / 0.15), 0rem 8px 10px -0.95px hsl(23.4783 22.3301% 40.3922% / 0.15);
  --shadow-2xl: 0rem 0.1rem 0.3rem 0.05rem hsl(23.4783 22.3301% 40.3922% / 0.38);
  --tracking-normal: 0.015em;
}

.dark {
  --background: oklch(0.2579 0.0153 62.6759);
  --foreground: oklch(0.9612 0 0);
  --card: oklch(0.2178 0 0);
  --card-foreground: oklch(0.9612 0 0);
  --popover: oklch(0.2178 0 0);
  --popover-foreground: oklch(0.9612 0 0);
  --primary: oklch(0.3873 0.0480 52.0954);
  --primary-foreground: oklch(0.9612 0 0);
  --secondary: oklch(0.5510 0.0234 264.3637);
  --secondary-foreground: oklch(0.9612 0 0);
  --muted: oklch(0.2579 0.0153 62.6759);
  --muted-foreground: oklch(0.7137 0.0192 261.3246);
  --accent: oklch(0.3729 0.0306 259.7328);
  --accent-foreground: oklch(0.9612 0 0);
  --destructive: oklch(0.5771 0.2152 27.3250);
  --border: oklch(0.3729 0.0306 259.7328);
  --input: oklch(0.2579 0.0153 62.6759);
  --ring: oklch(0.3873 0.0480 52.0954);
  --chart-1: oklch(0.3873 0.0480 52.0954);
  --chart-2: oklch(0.5150 0.0450 164.8770);
  --chart-3: oklch(0.7137 0.0192 261.3246);
  --chart-4: oklch(0.5194 0.0455 54.1995);
  --chart-5: oklch(0.5510 0.0234 264.3637);
  --sidebar: oklch(0.2579 0.0153 62.6759);
  --sidebar-foreground: oklch(0.9612 0 0);
  --sidebar-primary: oklch(0.3873 0.0480 52.0954);
  --sidebar-primary-foreground: oklch(0.9612 0 0);
  --sidebar-accent: oklch(0.5150 0.0450 164.8770);
  --sidebar-accent-foreground: oklch(0.9612 0 0);
  --sidebar-border: oklch(0.3729 0.0306 259.7328);
  --sidebar-ring: oklch(0.3873 0.0480 52.0954);
  --destructive-foreground: oklch(0.9612 0 0);
  --radius: 0.5rem;
  --font-sans: "Roboto", sans-serif;
  --font-serif: "Georgia", serif;
  --font-mono: "Fira Code", monospace;
  --shadow-color: #000000;
  --shadow-opacity: 0.3;
  --shadow-blur: 0.5rem;
  --shadow-spread: 0.05rem;
  --shadow-offset-x: 0rem;
  --shadow-offset-y: 0.15rem;
  --letter-spacing: 0.015em;
  --spacing: 0.25rem;
  --shadow-2xs: 0rem 0.15rem 0.5rem 0.05rem hsl(0 0% 0% / 0.15);
  --shadow-xs: 0rem 0.15rem 0.5rem 0.05rem hsl(0 0% 0% / 0.15);
  --shadow-sm: 0rem 0.15rem 0.5rem 0.05rem hsl(0 0% 0% / 0.30), 0rem 1px 2px -0.95px hsl(0 0% 0% / 0.30);
  --shadow: 0rem 0.15rem 0.5rem 0.05rem hsl(0 0% 0% / 0.30), 0rem 1px 2px -0.95px hsl(0 0% 0% / 0.30);
  --shadow-md: 0rem 0.15rem 0.5rem 0.05rem hsl(0 0% 0% / 0.30), 0rem 2px 4px -0.95px hsl(0 0% 0% / 0.30);
  --shadow-lg: 0rem 0.15rem 0.5rem 0.05rem hsl(0 0% 0% / 0.30), 0rem 4px 6px -0.95px hsl(0 0% 0% / 0.30);
  --shadow-xl: 0rem 0.15rem 0.5rem 0.05rem hsl(0 0% 0% / 0.30), 0rem 8px 10px -0.95px hsl(0 0% 0% / 0.30);
  --shadow-2xl: 0rem 0.15rem 0.5rem 0.05rem hsl(0 0% 0% / 0.75);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
    letter-spacing: var(--tracking-normal);
  }
}